name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
        react-version: [16.14.0, 17.0.2, 18.2.0]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Install React for matrix
        run: npm install react@${{ matrix.react-version }} react-dom@${{ matrix.react-version }} --no-save
      - name: Build
        run: npm run build
        env:
          CI: true
